@import 'normalize.css';
/* Style for News website */

/* Colors */
:root {
    --primary-color: #7E07A9;
    --secondary-color: #67237F;
    --tertiary-color: #52026E;
    --accent-color-1: #AC3BD4;
    --accent-color-2: #B764D4;
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .navbar a {
    color: #ffffff;
  }
  
  .bg-1 {
    background-color: var(--primary-color);
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .bg-2 {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  /* BEM Styles */
  .card__title {
    color: var(--secondary-color);
  }
  
  .card__text {
    color: var(--tertiary-color);
  }
  
  .card__date {
    color: #555555;
  }
  
  .card__btn {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
  }
  
  .card__btn:hover {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
  }
  